.Add-organisations-container{
    padding: 2%;
}

.add-organisation-container{
    margin: 2%;
    box-sizing: border-box;
}

.add-organisation-form{
    display: flex;
    width: 100%;
}

.add-organisation-form-image-container{
    width: 30%;
}

.add-organisation-form-fillup-container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.add-organisation-form-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    // align-self: flex-end;
    margin-right: 17%;
    height: 5vh;
}

.ant-upload.ant-upload-select-picture-card {
    border: 0px solid transparent;
}

.cancel-button{
    color: #1890ff;
}

.form-image {
    width: 100%;
    border-radius: 50%;
    object-fit: auto;
    height: 100%;
}

.form-item {
    width: 40%;
    margin-right: 5%;
    height: 8vh
}

.form-item1 {
    width: 40%;
    height: 8vh
}

.input {
    width: 100%;
}

