.ant-layout {
  width: 100%;
  box-sizing: border-box;
}

.ant-layout .ant-layout{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ant-layout-header {
  height: 9vh;
  width: 100%;
  color: rgba(0,0,0,.85);
  background: lightblue;
}
.ant-layout-content {
  height:91vh;
  width: 100%;
  background-color: #F4F7FE;
  left: 232px;
  top: 95px;
  box-sizing: border-box;
}
.ant-layout-sider {
  position: relative;
  height: 91vh;
  width:100%;
  background: #0076BF;
  box-sizing: border-box;
}

.organisations-grid-view-container{
  background-color: white;
  margin: 1.2% 1.4% 0.75% 1.3%;
  height: 88vh;
}