.Organisations-header-container{
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
}

.ant-typography {
    font-weight: 600;
    font-size: 1.3em;
}

.organisation-header-searchbar-container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 6vh;
}

.ant-input-affix-wrapper {
    border-radius: 0.25em;
    width: 35%;
    justify-content: space-between;
}

.ant-input-prefix, .ant-input-suffix {
    color: grey;
    margin-right: 10%;
}

// .organisation-header-icons-container{
//     box-sizing: border-box;
//     display: flex;
//     justify-content: center;
//     align-items: center;
    
// }

.organisation-app-filled-icon{
    color: #0076BF;
    // font-size: 1.5em;
    // margin: 0% 25%;
}

.organisation-list-icon{
    color: grey;
    // font-size: 1.5em;
    // margin: 0% 25%;
}


.ant-menu-horizontal, .ant-menu-item::after {
    border: none !important;
    // color: #eeeeee;
}

// .ant-menu>.ant-menu-item-selected {
//     color: #0076BF;
// }

